@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hero {
        --max-dimension: 40.625rem;

        background: url("/images/mobile/image-hero.jpg") no-repeat center top;
        height: 80vh;
        max-height: var(--max-dimension);

        @screen sm {
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                url("/images/desktop/image-hero.jpg");
        }

        & h1 {
            font-size: 2rem;
            line-height: 2.4rem;
            max-width: var(--max-dimension);

            @screen xs {
                font-size: 2.5rem;
            }

            @screen sm {
                font-size: 4.5rem;
                line-height: 4.4rem;
                padding: 2.5rem 2.375rem 1.625rem;
            }
        }
    }

    .primary-nav {
        top: 47.9vw;
    }

    /* ---- underline hover animation for header and footer links ---- */
    nav a,
    .social-icon,
    .attribution {
        --line-length: 0;

        background: linear-gradient(currentColor 0 0) 8px bottom / var(--line-length) 2px no-repeat;
    }

    nav a,
    .attribution {
        &:hover,
        &:active,
        &:focus {
            --line-length: 44%;
        }
    }

    .social-icon {
        &:hover,
        &:active,
        &:focus {
            --line-length: 100%;
        }
    }

    .virtual {
        @screen lg {
            grid-template: repeat(3, 1fr) / repeat(3, 1fr) 0.57fr 1fr;
        }
    }

    .card {
        grid-template-rows: 1fr 1.3fr;

        @screen lg {
            grid-template-rows: 4.8fr 1.3fr;
        }

        picture::after {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);

            content: "";
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            transition: 300ms;
            width: 100%;

            @screen lg {
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
            }
        }

        &:hover picture {
            filter: opacity(25%);
            transition: 500ms ease-out;
        }

        &:hover h4 {
            color: #000;
            transition: 300ms ease-in;
        }
    }
}
